In [206]:
import pandas as pd
import numpy as np

gaming_file = 'Resources/purchase_data.csv'
gaming_file

'Resources/purchase_data.csv'

In [207]:
df = pd.read_csv(gaming_file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [208]:
# Total number of players
players = df.loc[:,["SN","Gender","Age",]].drop_duplicates()
players.head()

              SN Gender  Age
0        Lisim78   Male   20
1    Lisovynya38   Male   40
2     Ithergue48   Male   24
3  Chamassasya86   Male   24
4      Iskosia90   Male   23

In [209]:
# Display of Total
player_display = pd.DataFrame({"Total Players": [576]})
player_display

   Total Players
0            576

In [210]:
#Unique items
number_of_unique_items = len(df["Item ID"].unique())
number_of_unique_items

183

In [211]:
#Average Price
average = df["Price"].mean()
average

3.050987179487176

In [212]:
new_avg = round(average,2)
new_avg

3.05

In [213]:
#number of purchases
count = sum(df["Item Name"].value_counts())
count

780

In [214]:
#Total Revenue
total = df["Price"].sum()
total

2379.77

In [215]:
#Display Purchasing Analysis
Display_Analysis = pd.DataFrame({"Number of Unique Items": [183],"Average Price": ['$3.05'], 
                                 "Number of Purchases": [780],"Total Revenue": ['$2,379.77']})
Display_Analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [216]:
#Count the Gender
count = players["Gender"].value_counts()
count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [217]:
# Percentage of players
percentage = players["Gender"].value_counts()/576
percentage

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [218]:
#Display of Gender Demographics
gender_data = {'Total Count':[484, 81, 11],'Percentage of Players':[84.03,14.06,1.91]}
gender_display = pd.DataFrame(gender_data, index=['Male','Female','Other/Non-Disclosed'])
gender_display

                     Total Count  Percentage of Players
Male                         484                  84.03
Female                        81                  14.06
Other/Non-Disclosed           11                   1.91

In [219]:
#Purchase Count
purchase_count = df["Gender"].value_counts()
purchase_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [220]:
#Average Purchase Price

average_purchase_price = df.groupby("Gender")["Price"].mean()
average_purchase_price.round(2)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [221]:
#Total Purchase Value

purchase_value = df.groupby("Gender")["Price"].sum()
purchase_value.round(2)

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [222]:
#Avg Total Purchase Per Person

avg_total_purchase = purchase_value/count
avg_total_purchase.round(2)

Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [223]:
#Display the Gender Analysis

gender_data_analysis = {'Purchase Count':[113, 652, 15],'Average Purchase Price':['$3.20','$3.02','$3.35'],
                        'Total Purchase Value':['$361.94','$1967.64','$50.19'], 'Avg Total Purchase per Person':[
                            '$4.47','$4.07','$4.56']}
gender_display_analysis = pd.DataFrame(gender_data_analysis, index =['Male','Female','Other/Non-Disclosed'])
gender_display_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,113,$3.20,$361.94,$4.47
Female,652,$3.02,$1967.64,$4.07
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

In [224]:
#Age Demographics
youngest = df.sort_values('Age').values[0][2]
print(youngest)

oldest = df.sort_values('Age').values[-1][2]
print(oldest)

7
45

In [225]:
bins = []
current = youngest
while current < oldest + 4: 
    bins.append(current)
    current += 5
    print(bins)
bins = bins[:-1]
print(bins)

[7]
[7, 12]
[7, 12, 17]
[7, 12, 17, 22]
[7, 12, 17, 22, 27]
[7, 12, 17, 22, 27, 32]
[7, 12, 17, 22, 27, 32, 37]
[7, 12, 17, 22, 27, 32, 37, 42]
[7, 12, 17, 22, 27, 32, 37, 42, 47]
[7, 12, 17, 22, 27, 32, 37, 42]

In [226]:
bin_labels = []
for age in bins:
	age_range = '{}-{}'.format(age, age+4)
	print(age_range)
	bin_labels.append(age_range)

7-11
12-16
17-21
22-26
27-31
32-36
37-41
42-46

In [227]:
data = {}
data[bin_labels[0]] = {}
data[bin_labels[0]]['Purchase Count'] = 0
data[bin_labels[0]]['Average Purchase Price'] = 0
data[bin_labels[0]]['Total Purchase Price'] = 0
data[bin_labels[0]]['Average Purchase Total per Person by Age Group'] = 0
position = 0
for index, row in df.sort_values('Age').iterrows():
   
    current_age = row['Age']
    min_age = bins[position]
    max_age = min_age + 4
    if current_age > max_age:
        position += 1
        data[bin_labels[position]] = {}
        data[bin_labels[position]]['Purchase Count'] = 0
        data[bin_labels[position]]['Average Purchase Price'] = 0
        data[bin_labels[position]]['Total Purchase Price'] = 0
        data[bin_labels[position]]['Average Purchase Total per Person by Age Group'] = 0
    else:
        data[bin_labels[position]]['Purchase Count'] += 1
        data[bin_labels[position]]['Total Purchase Price'] += row['Price']
for age in data.keys():
    data[age]['Total Purchase Price'] = round(data[age]['Total Purchase Price'], 2)
    data[age]['Average Purchase Price'] = data[age]['Total Purchase Price']/data[age]['Purchase Count']
    data[age]['Average Purchase Price'] = round(data[age]['Average Purchase Price'], 2)
    
grouped_age = df.drop(['Purchase ID', 'Gender','Item ID', 'Item Name'], axis = 1)
grouped_age = grouped_age.groupby(['SN','Age'])['Price'].sum().reset_index()
grouped_age = grouped_age.sort_values('Price', ascending = False)

for age_bin in bin_labels:
    split_age = age_bin.split('-')
    min_age = int(split_age[0])
    max_age = int(split_age[-1]) + 1
    age_range = list(range(min_age ,max_age))
    grouped_users = grouped_age[grouped_age['Age'].isin(age_range)]
    user_count = len(grouped_users)
    purchase_count = grouped_users['Price'].sum()
    data[age_bin]['Average Purchase Total per Person by Age Group'] = round(purchase_count/user_count,2)

columns = ['Age Range', 'Purchase Count', 'Average Purchase Price','Total Purchase Price','Average Purchase Total per Person by Age Group']
data_rows = []
for age in data.keys():
    current_row = []
    current_row.append(age)
    current_row.append(data[age]['Purchase Count'])
    current_row.append(data[age]['Average Purchase Price'])
    current_row.append(data[age]['Total Purchase Price'])
    current_row.append(data[age]['Average Purchase Total per Person by Age Group'])
    data_rows.append(current_row)
final_df = pd.DataFrame(data_rows,columns = columns)
final_df

,Age Range,Purchase Count,Average Purchase Price,Total Purchase Price,Average Purchase Total per Person by Age Group
0,7-11,39,3.28,127.75,4.26
1,12-16,76,2.98,226.32,3.87
2,17-21,231,3.07,709.99,4.21
3,22-26,276,3.04,838.06,4.21
4,27-31,69,2.94,203.01,3.87
5,32-36,49,2.86,140.32,3.90
6,37-41,29,3.50,101.63,4.62
7,42-46,4,2.77,11.06,3.00

In [228]:
sn_purchase = df.groupby("SN")["Price"].sum()
sn_purchase.round(2)
sn_purchase.nlargest()

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [229]:
df_spender = df.set_index("SN")
df_spender.head()

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Lisim78,0,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
Lisovynya38,1,40,Male,143,Frenzied Scimitar,1.56
Ithergue48,2,24,Male,92,Final Critic,4.88
Chamassasya86,3,24,Male,100,Blindscythe,3.27
Iskosia90,4,23,Male,131,Fury,1.44

In [230]:
top_spenders = df_spender.loc[["Lisosia93", "Idastidru52", "Chamjask73",
                                "Iral74", "Iskadarya95"], ["Price"]]
top_spenders

             Price
SN
Lisosia93     4.64
Lisosia93     3.81
Lisosia93     4.80
Lisosia93     3.19
Lisosia93     2.52
Idastidru52   4.93
Idastidru52   4.03
Idastidru52   1.60
Idastidru52   4.89
Chamjask73    4.23
Chamjask73    4.76
Chamjask73    4.84
Iral74        4.14
Iral74        3.82
Iral74        4.03
Iral74        1.63
Iskadarya95   4.03
Iskadarya95   4.90
Iskadarya95   4.17

In [231]:
top_spenders.groupby(['SN'])
print()